{% extends 'base.html' %}

{% block content %}




{% if form.errors %}
<div class="container mt-5">
<div class="alert alert-danger" role="alert">

  {{form.errors}}
 
</div>
 {% endif %}

 <div class="container mt-5">

    <!-- 
        Default form register -->
    <form class="text-center border border-light p-5" method="post">
    {% csrf_token %}
        <p class="h4 mb-4">password Reset </p>
        <label for="email"> Email </label>
        <input type="email" name="email" maxlength="50" class="form-control mb-4" placeholder="Emai reset">

        <button class="btn btn-purple my-4 btn-block " type="submit">reset</button>



    </form>
</div>
</div>




{% endblock content %}