{% extends 'base.html' %}

{% block content %}




{% if form.errors %}
<div class="container mt-5">
<div class="alert alert-danger" role="alert">

  {{form.errors}}
 
</div>
 {% endif %}

 <div class="container mt-5">
    <!-- 
        Default form register -->
        <h1>Enter new password</h1>
        <p>Please enter your new password twice so we can verify you typed it in correctly.

</p>
    <form class="text-center border border-light p-5" method="post">
    {% csrf_token %}
        <label for="new_password1"> New password </label>
        <input type="password" name="new_password1" maxlength="50" class="form-control mb-4" placeholder="password">

        <label for="password2"> Confirm password </label>
        <input type="password" name="new_password2" maxlength="50" class="form-control mb-4" placeholder="password confirmation">

        <button class="btn btn-purple my-4 btn-block" type="submit">change my password</button>



    </form>
</div>
</div>



{% endblock content %}