{% extends 'base.html' %}

{% block content %}

{% for message in  messages%}
    <div class="alert alert-warning" role="alert">
        {{message}}
</div>
{% endfor %}



<div class="container mt-5">
<!-- Default form login -->
<form class="text-center border border-light p-5" method="POST">
{% csrf_token %}
    <p class="h4 mb-4">Login</p>

    <!-- Email -->
    <input type="text" id="defaultLoginFormEmail" 
    class="form-control mb-4" name="username" placeholder="Username">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" 
    class="form-control mb-4"  name="password" placeholder="Password">

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
        </div>
        
           <div>
            <!-- Forgot password -->
            <a href="{% url 'password_reset' %}">Forgot password?</a>
        </div>
    </div>
    

    <!-- Sign in button -->
    <button class="btn btn-purple btn-block my-4" type="submit">Sign in</button>

<p>Not a member?
        <a href="{% url 'accounts:register' %}">Register</a>
      </p>

</form>
</div>
<!-- Default form login -->
{% endblock content %}